<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" v-for="post in posts.data" :key="post.id">
                <div class="card-header d-flex align-items-center justify-content-between">
                    {{ post.title }}
                    <template v-if="authCheck && post.user_id == user.id">
                        <router-link :to="`/posts/${post.subject.slug}/${post.slug}/edit`">Edit</router-link>
                    </template>
                </div>
                <div class="card-body">
                    {{ post.body }}
                    <div class="my-3">
                        <router-link :to="`/posts/${post.subject.slug}/${post.slug}`">Read more!</router-link>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="media align-items-center">
                            <img width="40" class="rounded-circle mr-3" :src="post.gravatar">
                            <div class="media">
                                {{ post.author }}
                            </div>
                        </div>
                        <div class="text-secondary">
                            {{ post.published }}
                        </div>
                    </div>
                </div>
            </div>
            <button v-if="posts.hasMorePages" class="btn btn-primary" @click.prevent="loadMore">
                <template v-if="loading">
                    Please wait . . .
                </template>
                <template v-else>
                    Load more
                </template>
            </button>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
    props: ['endpoint'],
    data() {
        return {
            posts: [],
            perPage: 20,
            loading: false,
        }
    },

    computed: {
        ...mapGetters({ 
            authCheck: 'auth/check',
            user: 'auth/user',
        })
    },

    mounted() {
        this.fetchPosts();
    },

    methods: {
        async fetchPosts() {
            let response = await axios.get(this.endpoint, {
                params: { perPage: this.perPage }
            });
            this.loading = false
            this.posts = response.data;
        },

        loadMore() {
            this.loading = true
            this.perPage += 20;
            setTimeout(() => {
                this.fetchPosts()
            }, 1000)
        }
    }
};
</script>