<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form action="#" method="post" @submit.prevent="store">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" v-model="form.email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" v-model="form.password" id="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data() {
        return {
            form: {
                email: '',
                password: '',
            }
        }
    },
    
    mounted() {
        document.title = "Login"
    },

    methods: {
        ...mapActions({
            login: 'auth/login',
         }),
         
        async store() {
            await this.login(this.form)
            this.$router.replace('/');
        }
    }
}
</script>
